body {
  background: #6dc4ff;
  font-family: "Montserrat", sans-serif;
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
}

form {
  display: flex;
  justify-content: center;
}

.container {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  background: #ebfffa;
  width: 60%;
  border: 2px solid #aeddfc;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(28, 173, 184, 0.2);
}

.search {
  margin-top: 20px;
  background-color: #4cb3f7;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  border: 2px solid #aeddfc;
  box-shadow: 10px 10px 20px rgba(28, 173, 184, 0.2);
}

#city-search-input {
  background-color: #ffffff;
  border: 2px solid #aeddfc;
  color: #044891;
  width: 50%;
}
#city-search-input:focus {
  outline: none;
}

input::placeholder {
  color: #4cb3f7;
}

.search-button {
  background-color: #ffffff;
  border: 2px solid #aeddfc;
  color: #044891;
}

#current-weather-button {
  background-color: #ffffff;
  border: 2px solid #aeddfc;
  color: #044891;
}

#currentCity {
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 0px;
  color: #0a2770;
}

#country {
  margin-left: 30px;
  color: #0a2770;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
  color: #0a2770;
}

li:first-letter {
  text-transform: capitalize;
}

.currentWeather img {
  margin-right: 5px;
  height: 100px;
  width: 100px;
}

.currentWeather strong {
  color: #04153d;
  font-size: 50px;
  line-height: 2;
  font-weight: 400;
}
.currentWeather .units {
  color: #04153d;
  position: relative;
  font-size: 20px;
  top: -34px;
}

.weather-forecast-date {
  text-align: center;
  color: #04153d;
}

.forecast-humidity {
  text-align: center;
}

.rain-drop {
  width: 15px;
}

#forecast-icon {
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
}

.weather-forecast-temperature-min {
  opacity: 0.8;
}

.open-source {
  display: block;
  text-align: center;
  margin-top: 15px;
}
