body {
  background: #6dc4ff;
  font-family: "Montserrat", sans-serif;
  font-family: "Oswald", sans-serif;
}

img {
  width: 100px;
}

.container {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  background: #ebfffa;
  width: 60%;
  border: 2px solid #aeddfc;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(28, 173, 184, 0.2);
}

.search {
  margin-top: 20px;
  background-color: #4cb3f7;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  border: 2px solid #aeddfc;
  box-shadow: 10px 10px 20px rgba(28, 173, 184, 0.2);
}

#city-search-input {
  background-color: #ffffff;
  border: 2px solid #aeddfc;
  color: #044891;
  width: 50%;
}
#city-search-input:focus {
  outline: none;
}

input::placeholder {
  color: #4cb3f7;
}

.search-button {
  background-color: #ffffff;
  border: 2px solid #aeddfc;
  color: #044891;
}

#current-weather-button {
  background-color: #ffffff;
  border: 2px solid #aeddfc;
  color: #044891;
}

#currentCity {
  margin-top: 10px;
  margin-left: 30px;
  color: #0a2770;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #0a2770;
}
.rain-drop {
  width: 15px;
}

.open-source {
  display: block;
  text-align: center;
  margin-top: 15px;
}
